[submodule "upstream/gtk"]
	path = upstream/gtk
	url = https://gitlab.gnome.org/GNOME/gtk.git
[submodule "upstream/libadwaita"]
	path = upstream/libadwaita
	url = https://gitlab.gnome.org/GNOME/libadwaita.git
[submodule "upstream/adwaita-icon-theme"]
	path = upstream/adwaita-icon-theme
	url = https://gitlab.gnome.org/GNOME/adwaita-icon-theme.git
[submodule "upstream/whitesur-gtk-theme"]
	path = upstream/whitesur-gtk-theme
	url = https://github.com/vinceliuice/whitesur-gtk-theme
